@* Created by iMIC CMS *@

@model muachung.Models.User
<div class="pull-left image">
    <img src="~/Content/UserAvatar/@Model.Avatar" class="img-circle" alt="User Image" />
</div>
<div class="pull-left info">
    <p>@Model.Username</p>

    <i class="fa fa-circle text-success"></i> Online
</div>

@* Created by iMIC CMS *@